.mat-mdc-form-field{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.mat-mdc-dialog-title{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.description{
    text-align: center;
    margin: 0 0 30px 0;
}